@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome Sean</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Me!</a>.</p>
</div>
